@use 'src/includes/default';
@use 'src/includes/colors';
@use 'src/includes/bp';

.wrapper {
    display: flex;
    gap: 16px;

    padding: 16px;

    .sidebar {
        flex: 1;

        display: flex;
        height: calc(100vh - 32px);

        backdrop-filter: blur(8px);
        overflow: hidden;
        @include default.box;
    }

    .content {
        flex: 4;
        padding: 8px;

        backdrop-filter: blur(8px);
        overflow: hidden;
        @include default.box;
    }
}